AppData/
ChromeTempIguideu/
3D Objects/
Contacts/
Cookies/
Configuración local/
Datos de programa/
Entorno de red/
Impresoras/
Menú Inicio/
Mis documentos/
Plantillas/
Reciente/
SendTo/
Alias/

.expo/
.expo-shared/
.cache/
**/Cache/
**/Code Cache/
**/GrShaderCache/
**/Temp/
*.tmp
*.log

.android/
.cloudflared/
.config/
.gradle/
.pm2/
.node_repl_history
.npmrc
.gitconfig
.idlerc
.lesshst

node_modules/
android/
ios/
